---
import { Container } from './container';

import { websites } from '@/data/websites';

const reversedWebsites = [...websites];

reversedWebsites.reverse();
---

<Container>
  <section class="websites">
    {
      reversedWebsites.map(website => (
        <a class="website" href={website.url}>
          <div class="image-wrapper">
            <img
              alt={`${website.address} screenshot`}
              class="main"
              src={website.screenshot}
            />
            <img
              alt={`${website.address} screenshot`}
              class="shadow"
              src={website.screenshot}
            />
            <div class="noise" />
          </div>

          <div class="detail">
            <p class="name">{website.name}</p>
            <p class="date">[{website.date.split('-').join('/')}]</p>
          </div>
        </a>
      ))
    }
  </section>
</Container>

<style>
  .websites {
    position: relative;
    margin-top: 40px;

    & .website {
      display: block;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: 28px;
      }

      & .image-wrapper {
        position: relative;
        width: 100%;
        padding: 12px;
        border: 1px solid var(--color-neutral-100);
        border-radius: 20px;

        &::before {
          position: absolute;
          bottom: -1px;
          left: 50%;
          width: 90%;
          height: 1px;
          content: '';
          background: linear-gradient(
            90deg,
            transparent,
            var(--color-neutral-200),
            transparent,
            transparent,
            transparent,
            var(--color-neutral-200),
            transparent
          );
          transform: translateX(-50%);
        }

        & .noise {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent url('/images/noise.png') repeat 0 0;
          mix-blend-mode: overlay;
        }

        & img.main {
          display: block;
          width: 100%;
          aspect-ratio: 1920/1080;
          border: 1px solid var(--color-neutral-200);
          border-radius: 8px;
        }

        & img.shadow {
          position: absolute;
          bottom: 8px;
          left: 50%;
          z-index: -1;
          display: block;
          width: calc(100% - 24px);
          aspect-ratio: 1920/1080;
          filter: blur(10px);
          border-radius: 8px;
          opacity: 0.6;
          transform: translateX(-50%);
        }
      }

      & .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        font-size: var(--font-sm);

        & .name {
          font-weight: 500;
          color: var(--color-foreground);
        }

        & .date {
          font-family: var(--font-mono);
          font-size: var(--font-xsm);
          color: var(--color-foreground-subtler);
        }
      }
    }
  }
</style>
